body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica', sans-serif; /* Use Helvetica font for the entire body */
}

.cloud1 {
    width: 20%;
    display: block;
    margin: 0 auto;
    pointer-events: none;
}

.cloud2 {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-30%, -50%);
    pointer-events: none;
}

.page-title {
    color: white;
    position: absolute;
    top: 250px;
    left: 51%;
    transform: translateX(-50%);
    font-size: 32px;
    font-family: 'Helvetica', sans-serif; /* Use Helvetica font for this element */
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 280px;
    margin-left: 55px;
}

.social-icons a {
    margin-right: 20px;
    color: white;
    font-size: 35px;
}

.social-icons a img {
    width: 35px;
    height: 35px;
    pointer-events: none; /* Prevents dragging for social media icons */
}

.social-icons .crowdin-logo img {
    width: 35px;
    height: 35px;
    pointer-events: none; /* Prevents dragging for crowdin logo */
}


#clock {
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: 45px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.peepoPortugal {
    width: 75px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Adjust margin to position the GIF */
    position: absolute; /* Position the GIF */
    bottom: 100px; /* Adjust bottom position to place the GIF */
}
